@{
    ViewData["Title"] = "NotAuthorized";
}


<div class="row">
    <div class="col-md-12 offset-3">
        <img src="~/images/forbiden.png" />
    </div>
</div>
<div class="row">
    <div class="col-md-12 offset-2">
        <h2>!No está autorizado para ejecutar esta acción!</h2>
    </div>
</div>



